################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/NewProjectDialog/bin/Debug
/NewProjectDialog/obj/Debug
/packages
*.user
